---
import { Phone, Mail, MapPin } from "@lucide/astro";
---

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="entitle">
          <div class="mail-entitle" style="display: flex; align-items: center;">
              <div class="icon-entitle">
                <Mail size={12} />
              </div>
              <span class="data-entile">Comencemos</span>
          </div>
          <h1 class="contact-title">Construyamos su Futuro Logistico</h1>
          <p class="entitle-text">
            ¿Listo para optimizar sus operaciones? Complete el formulario y nos
            pondremos en contacto con usted.
          </p>
        </div>
        <div class="contact-info">
          <div class="group-1" style="display: flex; align-items: center;">
            <div class="phone" style="display: flex; align-items: center;">
              <div class="icon">
                <Phone size={18} />
              </div>
              <span class="contact-data">+504 963808889</span>
            </div>
            <div class="mail" style="display: flex; align-items: center;">
              <div class="icon">
                <Mail size={18} />
              </div>
              <span class="contact-data">info@meguis.com</span>
            </div>
          </div>
          <div class="location" style="display: flex; align-items: center;">
            <div class="icon">
              <MapPin size={18} />
            </div>
            <span class="contact-data">San Pedro Sula, Honduras</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .container-fluid {
    width: 100%;
    height: 85vh;
    background-color: #011223;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-between;
    background-color: #012f47;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: 100px auto;
  }

  .entitle {
    margin-top: 6%;
    margin-left: 2%;
    width: 60%;
  }

  .mail-entitle {
    background-color: rgba(255, 183, 3, 0.1);
    width: 130px;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #e36414;
    margin-bottom: 20px;
  }

  .data-entile {
    font-size: 12px;
    color: rgba(255, 183, 3, 1);
  }

  .icon-entitle {
    background-color: #fefdfd;
    color: black;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
  }
  

  .contact-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .entitle-text {
    font-size: 14px;
    color: grey;
  }

  .contact-info {
    margin-top: 8%;
    margin-left: 2%;
    margin-bottom: 4%;
  }

  .group-1 {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
  }

  .icon {
    background-color: #fefdfd;
    color: black;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
  }

  .contact-data {
    font-size: 13px;
    color: white;
  }
</style>
