---
import Meguis_logo from "../assets/Meguis-Logo.webp";
---


<footer class="footer sm:footer-horizontal  text-base-content p-10">
  <aside>
    <img src={Meguis_logo.src} alt="" style="width: 70px; height: auto;" />
    <p>
      Meguis Import &amp; Export
      <br />
      Dando servicio de  calidad desde 1990
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Servicios</h6>
    <a class="link link-hover">Servicios de Aduana</a>
    <a class="link link-hover">Consultoría Logística</a>
  </nav>
  <nav>
    <h6 class="footer-title">Empresa</h6>
    <a class="link link-hover">Sobre Nosotros</a>
    <a class="link link-hover">Contacto</a>
    <a class="link link-hover">Opiniones</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Términos de Servicio</a>
    <a class="link link-hover">Aviso de Privacidad</a>
  </nav>
</footer>
