<section 
  class="relative min-h-screen flex items-end md:items-center pt-3l0 md:pt-0 pb-12 md:pb-0 lg:pb-20 overflow-hidden w-screen ml-[calc(-50vw+50%)] z-0"
  style="background-image: url('https://images.unsplash.com/photo-1622521186574-8276b00bdc96?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center; background-color: rgba(0, 0, 0, 0.7); background-blend-mode: multiply;"
>
  <div class="container mx-auto px-8 md:px-12 relative z-20">
    <div class="max-w-3xl space-y-8">
      <div class="space-y-4">
        <span
          class="text-brand-orange font-medium tracking-widest uppercase text-xs"
          >Excelencia Global</span
        >
        <h1
          class="text-3xl md:text-5xl lg:text-7xl font-serif font-bold text-on-surface leading-tight tracking-tighter"
        >
          Experiencia Global en <span class="text-brand-orange"
            >Logística y Aduanas.</span
          >
        </h1>
        <p
          class="text-lg md:text-xl text-on-surface-variant font-light max-w-2xl leading-relaxed"
        >
          Brindamos soluciones personalizadas de comercio internacional con la
          precisión y autoridad de un líder global. Su carga, nuestra
          responsabilidad.
        </p>
      </div>
      <div class="flex flex-col sm:flex-row gap-4 pt-4">
        <button
          class="btn-cotizar"
        >
          Solicitar Cotización
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        <button
          class="border border-outline-variant text-on-surface px-8 py-4 rounded-xl font-semibold text-lg hover:bg-white/5 transition-all"
        >
          Nuestros Servicios
        </button>
      </div>
    </div>
  </div>
</section>


<style>
    .btn-cotizar {
        background-color: orangered;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 15px;
        font-weight: 500;
        transition: background-color 0.3s ease, transform 0.2s ease;
        cursor: pointer;
        margin-right: 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .btn-cotizar i {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        .hero {
            font-size: 1.5rem;
            
        }

        .btn-cotizar {
            width: 100%;
            padding: 1.2rem;
            font-size: 1rem;
            display: flex;
            text-align: center;
            justify-content: center;
        }
    }
</style>