<section class="py-24 bg-surface" id="legado">
  <div class="container mx-auto px-8 md:px-12">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-16 items-center">
      <div class="lg:col-span-7 relative group">
        <div
          class="absolute -top-6 -left-6 w-32 h-32 bg-brand-orange/5 rounded-full blur-3xl group-hover:bg-brand-orange/10 transition-all"
        >
        </div>
        <img
          class="rounded-xl editorial-shadow grayscale hover:grayscale-0 transition-all duration-700 w-full"
          data-alt="Black and white high-contrast photo of a veteran logistics manager in a dark suit looking out over a bustling container terminal port at sunset"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuC-JqtDC2ZCUbOQw4HUfdOnif0qFCe8Y4ZGjidTmbbwq7gFtzCiQYFwZNCUYU9ESLFslmbshBAvDG_35_wMVwEcA2pv7egWkx565SorFnH1I4p8I9JyOWuYr2B_hBj3REFvynikGQHy1xiJYZJXyQqGRJ3rzW9r9kcqyqJcjtLHfzGGbZgx6prZ5_58DFlOpd3n17whOSbdxMgh0p5klsVxSzkeQcgjvIF_4qPMT4LjltNqvYg8A7_1aKFbm_BQsExggQUL2fBjNA"
        />
      </div>
      <div class="lg:col-span-5 space-y-8">
        <div class="space-y-4">
          <span
            class="font-medium tracking-widest uppercase text-xs" style="color: orangered;"
            >Desde 1990</span
          >
          <h2 class="text-4xl md:text-5xl font-serif font-bold leading-tight">
            Nuestro <br /><span class="italic">Legado Global.</span>
          </h2>
        </div>
        <p class="text-on-surface-variant leading-relaxed text-lg">
          MEGUIS nació con la visión de simplificar la complejidad de las
          fronteras. Hoy, somos el centinela de confianza para empresas que no
          permiten errores en sus cadenas de suministro.
        </p>
        <p class="text-on-surface-variant leading-relaxed">
          Nuestra especialización en consultoría técnica y operativa nos permite
          navegar los desafíos geopolíticos y logísticos más exigentes del siglo
          XXI.
        </p>
        <div class="pt-4">
          <button
            class="flex items-center gap-4 group text-on-surface font-medium"
          >
            Conoce nuestra historia
            <span
               style="width: 50px; height: 2px; background-color: orangered;"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
