<!-- Movement Lines Decoration -->


<div
  class="absolute bottom-0 right-0 w-1/2 h-1/2 movement-lines opacity-20 pointer-events-none"
>
</div>

<!-- Stats Bar -->
<section class="bg-surface-container-low py-12 relative z-30 w-screen ml-[calc(-50vw+50%)]" style="background-color: #000814;" >
  <div class="container-fluid mx-auto px-8 md:px-12 lg:px-100">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="flex flex-col gap-1 items-center md:items-start">
        <span
          class="text-brand-orange text-3xl font-serif font-bold tracking-tight"
          style="color: orangered;"
          >35+</span
        >
        <span
          class="text-brand-orange text-sm font-medium uppercase tracking-wider"
          >Años en el Mercado</span
        >
      </div>
      <div class="flex flex-col gap-1 items-center md:items-start">
        <span
          class="text-3xl font-serif font-bold tracking-tight"
          style="color: orangered;"
          >5,000+</span
        >
        <span
          class="text-sm font-medium uppercase tracking-wider"
          >Gestiones en Aduanas</span
        >
      </div>
      <div class="flex flex-col gap-1 items-center md:items-start">
        <span
          class="text-brand-orange text-3xl font-serif font-bold tracking-tight"
          style="color: orangered;"
          >1</span
        >
        <span
          class="text-sm font-medium uppercase tracking-wider mr-4"
          >El puerto mas importante de C.A como punto estratégico</span
        >
      </div>
      <div class="flex flex-col gap-1 items-center md:items-start">
        <span
          class="text-3xl font-serif font-bold tracking-tight"
          style="color: orangered;"
          >100%</span
        >
        <span
          class="text-sm font-medium uppercase tracking-wider"
          
          >Eficiencia Operativa</span
        >
      </div>
    </div>
  </div>
</section>
