---
import MeguisLogo from "../assets/Meguis-Logo.webp";
---

<div class="container">
  <img
    src={MeguisLogo.src}
    alt="Meguis Logo"
    class="w-64 mb-6 flex justify-center items-center logo"
  />
  <div
    class="card flex flex-col justify-center items-center text-center p-8 rounded-lg shadow-lg"
  >
    <h1 class="text-4xl font-bold mb-4 text-white">
      Próximamente: Tu socio confiable en Aduanas
    </h1>
    <p class="text-lg mb-6 text-white">
      Estamos trabajando para brindarte la mejor consultoría en importaciones y
      exportaciones desde Puerto Cortés.
    </p>
    <form class="card-actions" name="subscribe" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="subscribe" />
      <input
        type="email"
        name="email"
        placeholder="Ingresa tu Email"
        class="input input-bordered w-70 bg-white text-black"
        required
      />
      <button type="submit" class="btn-suscribe">Registrarme</button>
    </form>
    <p class="text-xs text-white mt-2">
      No enviaremos spam. Solo lo usaremos para notificarte cuando lancemos la
      página.
    </p>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: clamp(1rem, 5vw, 3rem);
    padding-right: clamp(1rem, 5vw, 3rem);
  }

  .card {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://lh3.googleusercontent.com/aida-public/AB6AXuACJ10nsisdtiI37F_dQiRAU7YfWPLfu63tXqhOC5UQexAap546JuVtontV_bXLsHEvrQYO8OCEHm0Di2BioBiNC1cXmkJ6WRpQbcGjAreTvG2EEJUEIBe5qzAqmHiYDuiyED6pMop-tyx_uCfm2sFqg2WQfprjzZ50oQNcw6Tp7sCVCLSI7eCfCOkA1Kb_4iZpVm5-dmqkuV7XO5hChu-q9mThysWcxxZR-Vil2tFYRD689ZyoE3I7Ej4FzbDbgw8TsdlRlCr8U03e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 20px;
    width: min(90vw, 600px);
    height: auto;
    aspect-ratio: 16 / 9;
    padding-left: clamp(1rem, 5vw, 3rem);
    padding-right: clamp(1rem, 5vw, 3rem);
    position: relative;
  }

  .card-actions {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
  .logo {
    position: absolute;
    bottom: 58%;
    z-index: 10;
    width: 200px;
    height: 200px;
  }
.input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e87d24;
}

.btn-suscribe {
  background-color: #e87d24;
  color: #0b223f;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 700;
}

  @media (max-width: 768px) {
    .card {
      width: min(95vw, 500px);
      aspect-ratio: 4 / 5;
    }

    .input {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .btn-suscribe {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .logo {
      position: absolute;
      bottom: 82%;
      left: 38%;
      z-index: 10;
      width: 80px;
      height: 80px;
    }
  }

  @media (max-width: 480px) {
    .card {
      width: min(100vw, 330px);
      aspect-ratio: 1 / 1.2;
    }
    .input {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .btn-suscribe {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .logo {
      position: absolute;
      bottom: 82%;
      left: 38%;
      z-index: 10;
      width: 80px;
      height: 80px;
    }
  }


</style>
