---
import "../assets/app.css";
import MeguisIcon from "../assets/Meguis-Logo.ico";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={MeguisIcon} />
    <link rel="stylesheet" href="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.css" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/509c179d58.js"
      crossorigin="anonymous"></script>

    <title>Meguis</title>
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <script type="module">
      import AOS from 'https://unpkg.com/aos@3.0.0-beta.6/dist/aos.mjs';
      
      AOS.init({
        duration: 800,
        once: false,
        offset: 100,
        easing: 'ease-in-out'
      });
    </script>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #010d1c;
    font-family: "Inter", sans-serif;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>
